name: zzz222

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Download ngrok
      run: Invoke-WebRequest https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-windows-amd64.zip -OutFile ngrok.zip

    - name: Extract ngrok
      run: Expand-Archive ngrok.zip

    - name: Auth ngrok
      run: .\ngrok\ngrok.exe authtoken $Env:NGROK_AUTH_TOKEN
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}

    - name: Enable RDP
      run: Enable-NetFirewallRule -DisplayGroup "Remote Desktop"

    - name: Enable Firewall for NoMachine
      run: 
           New-NetFirewallRule -DisplayName "NoMachine" -Direction Inbound -Protocol TCP -LocalPort 4000 -Action Allow

           Enable-NetFirewallRule -DisplayName "NoMachine"

    - name: Set local user password
      run: Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "china@2024" -Force)
       

    - name: Download OneDriveUploader
      run: |
        Invoke-WebRequest https://github.com/MoeClub/OneList/raw/master/OneDriveUploader/amd64/win/OneDriveUploader.exe -OutFile OneDriveUploader.exe
        Invoke-WebRequest https://raw.githubusercontent.com/howtogo2303/0127/main/.github/workflows/admin1106.json -OutFile auth.json
        New-Item -ItemType Directory -Path "wwww"
        
        .\OneDriveUploader.exe -c auth.json -s "wwww"

    - name: Create and maintain ngrok tunnels
      shell: pwsh
      run: |
        Start-Process -FilePath "./ngrok/ngrok.exe" -ArgumentList "tcp 3389" -NoNewWindow
        Start-Process -FilePath "./ngrok/ngrok.exe" -ArgumentList "tcp 4000" -NoNewWindow
        Start-Sleep -s 20
        $tunnels = Invoke-RestMethod -Method Get -Uri "http://localhost:4040/api/tunnels"
        $rdp_tunnel = $tunnels.tunnels | Where-Object { $_.config.addr -eq "tcp://127.0.0.1:3389" }
        $nomachine_tunnel = $tunnels.tunnels | Where-Object { $_.config.addr -eq "tcp://127.0.0.1:4000" }
        $rdp_tunnel.public_url > rdp_tunnel_url.txt
        $nomachine_tunnel.public_url > nomachine_tunnel_url.txt
        $current_time = Get-Date -Format "yyyyMMddHHmmss"
        $rdp_file_name = "rdp_$current_time.txt"
        $nomachine_file_name = "nomachine_$current_time.txt"
        $rdp_tunnel.public_url | Out-File -FilePath "wwww/$rdp_file_name"
        $nomachine_tunnel.public_url | Out-File -FilePath "wwww/$nomachine_file_name"
        Copy-Item -Path "D:\a\0210\0210\*.txt" -Destination "wwww"

        # Infinite loop to keep uploading to OneDrive
        while ($true) {
          .\OneDriveUploader.exe -c auth.json -s "wwww"
          Start-Sleep -s 60
        }
